[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-elasticsearch-dsl = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
django-extensions = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"
mixer = "*"
djangorestframework-jsonapi = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
python_full_version = ">=3.11.2"
